body {
  background: url("img/womanatthefork.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
}
#ruby-results, #php-results, #java-results {
  display: none;
}

.intro, form {
  background-color: gray;
  opacity: 10%;
}
button {
  margin: 10px;
}
